<!DOCTYPE html>

<html lang="en">
  <head>
    <title>CREATE</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
    <div class="navbar">
      <form action="/" method="POST">
        <input type="submit" value="Home">
      </form>
      <br>
    </div>

    <div class="body-container">
      <form action="/create" method="POST">
        <p>Title</p>
        <input type="text" name="title">
        <br>

        <p>Content</p>
        <textarea cols="50" rows="5" type="text" name="content" style="font-size: 18px;"></textarea>
        <br><br>
        <input type="submit" name="sub2" value="Create">
      </form>

      <br>
    </div>
  </body>

</html>
