<!DOCTYPE html>

<html lang="en">
  <head>
    <title>CREATE</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
    <form action="/" method="POST">
			<input type="submit" value="home">
		</form>
    <br>

    <div class="body-container">
      <form action="/create" method="POST">
        <p> Title </p>
        <input type="text" name="title">
        <br>
        <p> Content </p>
        <input type="text" name="content">
        <br><br>
        <input type="submit" name="sub2" value="create">
      </form>

      <br>
    </div>
  </body>

</html>
