<!DOCTYPE html>
<html lang="en">

  <head>
    <title>EDIT</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
    <div class="navbar">
      <form action="/" method="POST">
        <input type="submit" value="Home">
      </form>
      <form action="/view" method="GET">
        <input type="submit" value="Back" name="{{infor[0]}}">
      </form>
    </div>

    <div class="body-container">
      <form action="/view" method="POST">
        <p> Title: {{infor[2]}} </p>
        <p> OLD CONTENT: {{infor[3]}} </p>
        <p> NEW CONTENT: </p>
        <textarea cols="50" rows="5" style="font-size: 18px;" type="text" name="content"></textarea>
        <br><br>
        <button type="submit" name="{{infor[0]}}">
          <div>Modify</div>
        </button>
      </form>
    </div>
  </body>

</html>
