<!DOCTYPE html>
<html lang="en">

  <head>
    <title>EDIT</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
    <form action="/" method="POST">
			<input type="submit" value="home">
		</form>
    <br>
    <form action="/view" method="GET">
			<input type="submit" value="back" name="{{infor[0]}}">
		</form>

		<form action="/view" method="POST">
      <p> Title: {{infor[2]}} </p>
      <p> OLD CONTENT: {{infor[3]}} </p>
      <p> NEW CONTENT: </p>
      <input type="text" name="content">
      <br><br>
      <button type="submit" name="{{infor[0]}}">
        <div>modify</div>
      </button>
		</form>

    <br>
  </body>

</html>
