<!DOCTYPE html>


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Members of the Mykolyk Fan Club!
    </h1>


    <h3>
      Enter your username and password below to proceed.
    </h3>
    <p><b>{{error}}</b></p>
    <form action="/login" method="POST">
      <p> Username </p>
      <input type="text" name="username">
      <br>
      <p> Password </p>
      <input type="password" name="password">
      <br><br>
      <input type="submit" name="sub1" value="login">
    </form>
    <p> If you don't have an account, then sign up! </p>
    <form action="/signup" method="GET">
			<input type="submit" value="signup">
		</form>
    <br>
    <form action="/" method="POST">
			<input type="submit" value="home">
		</form>
    <br>
  </body>

</html>
