<!DOCTYPE html>

<html lang="en">
  <head>
    <title>LOGIN</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
    <div class="body-container">
      <form action="/" method="POST">
        <input type="submit" value="home">
      </form>
      <h3>
        Enter your username and password below to proceed.
      </h3>

      <p class="error"><b>{{error}}</b></p>
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="USERNAME">
        <br>
        <input type="password" name="password" placeholder="PASSWORD">
        <br><br>
        <input type="submit" name="sub1" value="login">
      </form>
      <p>If you don't have an account...</p>
      <form action="/signup" method="GET">
        <input type="submit" value="signup">
      </form>
    </div>
  </body>

</html>
