<!DOCTYPE html>

<html lang="en">
  <head>
    <title>PROFILE</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
		<form action="/logout" method="POST">
			<input type="submit" name="sub2" value="logout">
		</form>

    <form action="/" method="GET">
			<input type="submit" value="home">
		</form>

    <div class="body-container">
      <h3> PROFILE OF: {{u}} </h3>

      {% for row in blogs %}
      <form action="/view" method="GET">
      <button type="submit" name="{{row[0]}}">
          <div>{{row[2]}}</div>
      </button>
      </form>
      <form action="/profile" method="GET">
      <button type="submit" name="{{row[0]}}">
          <div>By: {{row[1]}}</div>
      </button>
      </form>
      <br><br>
      {% endfor %}

      <br>
    </div>
  </body>

</html>
