<!DOCTYPE html>

<html lang="en">
  <head>
    <title>PROFILE</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
    <div class="navbar">
      <form action="/logout" method="POST">
        <input type="submit" name="sub2" value="Logout">
      </form>

      <form action="/" method="GET">
        <input type="submit" value="Home">
      </form>
    </div>

    <div class="body-container">
      <div class="landing" style="padding: 10px;">
        <h3> Welcome to {{u[0]}}'s Blog! </h3>
        <h4> Created: {{u[2]}} </h4>
        <h4> BIO: {{u[3]}} </h4>
      </div>

      {% if u[0] == username %}
      <form action="/profile" method="POST">
      <p> Update Bio </p>
      <input type="text" name="bio">
      <button type="submit" name="user" value="{{u[0]}}">
          <div>Change</div>
      </button>
      </form>
      {% endif %}
      <br>

      <h4>Posts Written</h4>
      {% for row in blogs %}
      <div class="blog-entries">
        <form action="/view" method="GET">
          <button type="submit" name="{{row[0]}}">
              <div>{{row[2]}}</div>
          </button>
        </form>
        {% endfor %}
      </div>
    </div>
  </body>

</html>
