<!DOCTYPE html>

<html lang="en">
  <head>
    <title>PROFILE</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
    <div class="navbar">
      <form action="/logout" method="POST">
        <input type="submit" name="sub2" value="logout">
      </form>

      <form action="/" method="GET">
        <input type="submit" value="home">
      </form>
    </div>

    <h3> PROFILE OF: {{u[0]}} </h3>
    <h4> DATE OF CREATION: {{u[2]}} </h4>
    <h4> BIO: {{u[3]}} </h4>

    {% if u[0] == username %}
    <form action="/profile" method="POST">
    <p> Update Bio </p>
    <input type="text" name="bio">
    <button type="submit" name="user" value="{{u[0]}}">
        <div>change</div>
    </button>
    </form>
    {% endif %}
    <br>

    {% for row in blogs %}
    <form action="/view" method="GET">
    <button type="submit" name="{{row[0]}}">
        <div>{{row[2]}}</div>
    </button>
    </form>
    <form action="/profile" method="GET">
    <button type="submit" name="{{row[1]}}">
        <div>By: {{row[1]}}</div>
    </button>
    </form>
    <br><br>
    {% endfor %}

    <br>
  </body>

</html>
