<!DOCTYPE html>

<html lang="en">
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
    <div class="navbar">
      <form action="/logout" method="POST">
        <input type="submit" name="sub2" value="Logout">
      </form>
      <form action="/profile" method="GET">
        <button type="submit" name="{{username}}">
            <div>View Profile</div>
        </button>
      </form>
    </div>
    <div class="body-container">
      <div class="landing">
        <h1>
          Welcome, {{username}}, of the Mykolyk Fan Club!
        </h1>
        <br>
        <form action="/create" method="GET">
          <input type="submit" value="CREATE NEW POST">
        </form>
        <br>
      </div>

      <h2><u>Blogs</u></h2>
      {% for row in all_blogs %}
      <div class="blog-entries">
        <form action="/view" method="GET">
          <button type="submit" name="{{row[0]}}">
            <div>{{row[2]}}</div>
          </button>
        </form>
        <form action="/profile" method="GET">
          <button type="submit" name="{{row[1]}}">
            <div>By: {{row[1]}}</div>
          </button>
        </form>
        <div>Last modified on: {{row[4]}}</div>
      </div>
      <br><br>
      {% endfor %}

      <br>
    </div>
  </body>

</html>
