<!DOCTYPE html>

<html lang="en">
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
    <form action="/logout" method="POST">
      <input type="submit" name="sub2" value="logout">
    </form>
    <form action="/profile" method="GET">
      <button type="submit" name="{{username}}">
          <div>View Profile</div>
      </button>
    </form>
    <div class="body-container">
      <br>
      <h1>
        Welcome, {{username}}, of the Mykolyk Fan Club!
      </h1>
      <br>
      <form action="/create" method="GET">
        <input type="submit" value="create">
      </form>
      <br>
      <h3>Blogs</h3>

      {% for row in all_blogs %}
      <form action="/view" method="GET">
      <button type="submit" name="{{row[0]}}">
          <div>{{row[2]}}</div>
      </button>
      </form>
      <form action="/profile" method="GET">
      <button type="submit" name="{{row[1]}}">
          <div>By: {{row[1]}}</div>
      </button>
      </form>
      <br><br>
      {% endfor %}

      <br>
    </div>
  </body>

</html>
