<!DOCTYPE html>


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Members of the Mykolyk Fan Club!
    </h1>


    <h3>
      Create your account to get started.
    </h3>
    <form action="/signup" method="POST">
      <p> Username </p>
      <input type="text" name="username">
      <br>
      <p> Password </p>
      <input type="password" name="password">
      <br><br>
      <input type="submit" name="sub1" value="signup">
    </form>
    <br>
  </body>

</html>
