<!DOCTYPE html>

<html lang="en">
  <head>
    <title>SIGNUP</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <body>
    <div class="landing body-container">
      <form action="/" method="POST">
        <input type="submit" value="Home">
      </form>
      <h3>
        Create your account to get started.
      </h3>
      <h3>
        Password must be longer than 8 characters.
      </h3>
      <p class="error"><b>{{error}}</b></p>
      <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="USERNAME">
        <br>
        <input type="password" name="password" placeholder="PASSWORD">
        <br><br>
        <input type="submit" name="sub1" value="Sign Up">
      </form>
      <p>If you have an account...</p>
      <form action="/login" method="GET">
        <input type="submit" value="Login">
      </form>
    </div>
  </body>

</html>
