<!DOCTYPE html>


<html>

  <head>
    <title> VIEW PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, {{username}}, of the Mykolyk Fan Club!
    </h1>

    <form action="/edit" method="GET">
			<button type="submit" name="{{infor[0]}}">
        <div>EDIT</div>
      </button>
		</form>
    <br>
    <form action="/" method="POST">
			<input type="submit" value="home">
		</form>
    <p><b>{{error}}</b></p>
    <br>
      <p><h3> {{infor[2]}} </h3></p>
      <p> WRITTEN BY "{{infor[1]}}" </p>
      <p> LAST MODIFIED ON {{infor[4]}} </p>
      <br>
      <br>
      {{infor[3]}}

    <br>
  </body>

</html>
